# Build
bin/
obj/

# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Database
*.db
*.db-shm
*.db-wal

# Docs Pessoal
Docs-Dev/
Agentes/

# Logs
Logs/
*.log

# User settings
*.user

# Secrets
**/key

# IDE
.vs/
.vscode/