[Unit]
Description=Serviço de controle de irrigação
After=network.target

[Service]
Type=simple
ExecStart=/opt/edge-plc/irrigacao
WorkingDirectory=/opt/edge-plc
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
